body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #FDF7F0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #374F4C;
}

.header {
  width: 995px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  border-bottom: 1px solid transparent;
}

.header__logo:hover {
  border-bottom: 1px solid #3E3E42;
}

.header-nav {
  margin-bottom: 22px;
}

.header-nav a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  color: #3E3E42;
  margin-inline-end: 60px;
}

.header-nav a:hover {
  text-decoration: underline #3E3E42;
}

.main {
  display: flex;
  width: 995px;
  height: 100%;
  margin-bottom: 32px;
}

.main-content {
  display: flex;
}

.main-text {
  margin-top: 45px;
  margin-bottom: 47px;
}

.main-text__bigText {
  width: 337px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #374F4C;
  margin-bottom: 27px;
  -webkit-animation: wait 500ms, animOpas 500ms 500ms;
  animation: wait 500ms, animOpas 500ms 500ms;
}

.main-text__midleText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.32px;
  color: #3E3E42;
  margin-bottom: 16px;
  -webkit-animation: wait 1s, animOpas 1s 1s;
  animation: wait 1s, animOpas 1s 1s;
}

.main-text__littleText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 0.32px;
  color: #3E3E42;
  -webkit-animation: wait 1.5s, animOpas 1s 1.5s;
  animation: wait 1.5s, animOpas 1s 1.5s;
}

.main-storesButtons {
  display: flex;
  gap: 8px;
  margin-bottom: 48px;
  -webkit-animation: wait 2s, animOpas 1s 2s, leftToRight 1s 2s;
  animation: wait 2s, animOpas 1s 2s, leftToRight 1s 2s;
}

.main-storesButtons a {
  text-decoration: none;
}

.main-storesButtons p {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.main-awordsIcon {
  -webkit-animation: wait 2.5s, animOpas 1s 2.5s, bottomToTop 1s 2.5s;
  animation: wait 2.5s, animOpas 1s 2.5s, bottomToTop 1s 2.5s;
}

.main-imgVideo {
  -webkit-animation: wait 3s, grow 800ms 3s forwards;
  animation: wait 3s, grow 800ms 3s forwards;
}

.main-imgVideo p {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

@keyframes wait {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animOpas {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes animOpas {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@-webkit-keyframes leftToRight {
  from {
    left: -100px;
  }

  to {
    left: 0px;
  }
}


@-webkit-keyframes grow {
  from {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}

@keyframes grow {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2)
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    local("Roboto-Regular"),
    url("../assets/fonts/Roboto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: local("Times New Roman"),
    url("../assets/fonts/Roboto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}